In [1]:
import pandas as pd
from utils import paths

In [3]:
CV_VALID_DEV_CSV = paths.CV_VALID_DEV

In [4]:
df = pd.read_csv(CV_VALID_DEV_CSV)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4076 entries, 0 to 4075
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   filename        4076 non-null   object
 1   text            4076 non-null   object
 2   up_votes        4076 non-null   int64
 3   down_votes      4076 non-null   int64
 4   age             1528 non-null   object
 5   gender          1540 non-null   object
 6   accent          1350 non-null   object
 7   generated_text  4075 non-null   object
 8   duration        4076 non-null   float64
dtypes: float64(1), int64(2), object(6)
memory usage: 286.7+ KB

In [7]:
df.tail()

,filename,text,up_votes,down_votes,age,gender,accent,generated_text,duration
4071,cv-valid-dev/sample-004071.mp3,but they could never have taught him arabic,2,1,NaN,NaN,NaN,BUT THEY COULD NEVER HAVE TAUGHT HIM ARABIC,4.4
4072,cv-valid-dev/sample-004072.mp3,he decided to concentrate on more practical ma...,1,0,NaN,NaN,NaN,HE DECIDED TO CONCENTRATE ON MORE PRACTICAL MA...,3.4
4073,cv-valid-dev/sample-004073.mp3,that's what i'm not supposed to say,2,0,thirties,male,us,THAT'S WHAT I'M NOT SUPPOSED TO SAY,4.5
4074,cv-valid-dev/sample-004074.mp3,just handling them made him feel better,3,0,NaN,NaN,NaN,JUST HERE THE WINPLE MADE HIM FEEL BETTER,4.4
4075,cv-valid-dev/sample-004075.mp3,the city sealer's office,1,0,NaN,NaN,NaN,THE CITY SEILOR'S OFFICE,2.7